@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #ffb30e;
  --secondary-color: #f17228;
  --teritary-color: #46f128;
  --accent-color: #ffae00;
  --text-color: #000;
  --bg-color: #fff;
  --primary-font-size: 1rem;
  --secondary-font-size: 1.5rem;
  --white: #fff;
  --light-gray: #757575;
  --dark-gray: #212121;
  --gray: #cfcfcf;
  --light-orange: rgba(234, 100, 15, 0.07);
  --light-green: rgba(51, 234, 15, 0.07);
  --light-orange-2: rgba(236, 100, 15, 0.2);
  --medium-orange: rgba(255, 154, 14, 0.9);
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Host Grotesk", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

::-webkit-scrollbar {
  display: none;
}

/* header */
header {
  position: fixed;
  width: 100%;
  padding: 1.2rem 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vmin;
  background-color: var(--white);
  z-index: 1000;
}

header > div {
  display: flex;
  align-items: center;
  gap: 2.5vmin;
  img {
    height: clamp(15px, 3vw, 50px);
  }
  p {
    color: var(--primary-color);
    span {
      color: var(--secondary-color);
    }
    font-weight: 900;
    font-size: clamp(1.2rem, 2.8vw, 3rem);
  }
  .search-food-btn {
    position: relative;
    color: var(--text-color);
    background: transparent;
    border: none;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: var(--text-color);
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .login-btn {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
    border: none;
    background-color: var(--white);
    box-shadow: 2px 4px 5px var(--accent-color);
    padding: 10px 15px;
    border-radius: 6px;
  }
}

.sfl-btn {
  display: flex;
  &.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background: var(--white);
    border-radius: 10px;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }

  @media (max-width: 426px) {
    display: none;

    &.show {
      display: flex !important;
    }
  }
}

.hidden {
  display: none !important;
}

header > span {
  @media (max-width: 965px) {
    display: none;
  }
}

.hamburger-menu {
  display: none;
  @media (max-width: 426px) {
    display: flex;
  }
}

/* hero section */

main {
  position: relative;
  top: 3rem;
}

.banner {
  width: 100%;
  padding: 5vw;
  @media (max-width: 1024px) {
    padding: 30px 15px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vmin;
  flex-wrap: wrap-reverse;
  background-color: var(--primary-color);
  .banner-img {
    width: clamp(300px, 40vw, 500px);
    height: clamp(300px, 40vw, 500px);
  }
}

.banner > div {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5vmin;
  > h2 {
    color: var(--white);
    font-size: 3.8rem;
    font-weight: bold;
  }
  p {
    font-size: 1rem;
    line-height: 35px;
  }
  > .order-card {
    display: flex;
    flex-flow: column nowrap;
    gap: 1vmin;
    width: 100%;
    padding: 2vw;
    border-radius: 20px;
    background-color: var(--white);
    > .delivery-pickup-btn {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 2vmin;
      .delivery {
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: var(--light-orange-2);
        color: var(--secondary-color);
        text-decoration: none;
      }
      .pickup {
        position: relative;
        text-decoration: none;
        border: none;
        background: transparent;
        color: var(--light-gray);

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 0;
          height: 1px;
          background-color: var(--light-gray);
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.hr1 {
  opacity: 0.2;
}

.input-btn {
  display: flex;
  gap: 1vmin;
}

.address-input {
  width: 100%;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
}

.findfood-btn {
  background-color: #ff7474;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

/* flash sales section  */

.flash-deals {
  margin: 30px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 160px;
  display: flex;
  @media (min-width: 1024px) {
    margin: 5vw;
    /* justify-content: center; */
  }
}

.box-card {
  width: 100%;
  display: flex;
  gap: 20px;
  @media (min-width: 640px) {
    justify-content: center;
    gap: 50px;
  }
}

.boxes {
  padding: 5vw;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  height: 80px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

/* :nth-child() didn't work */
.box-1 {
  background-image: url("../image/Flashdeal-1.png");
}
.box-2 {
  background-image: url("../image/Flashdeal-2.png");
}
.box-3 {
  background-image: url("../image/Flashdeal-3.png");
}
.box-4 {
  background-image: url("../image/Flashdeal-4.png");
}

.flash-deals-days {
  padding: 5px 10px;
  background-color: var(--light-orange-2);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

/* features section  */

.features-section {
  width: 100%;
  padding: 5vw;
  @media (max-width: 1024px) {
    /* padding: 0 15px; */
  }
  background-color: var(--light-orange);
}

h3 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.features {
  margin-top: 50px;
  display: flex;
  @media (min-width: 1024px) {
    justify-content: center;
  }
  width: 100%;
  overflow-x: scroll;
  gap: 20px;
}

.features-all {
  margin-top: 10px;
  color: var(--light-gray);
  font-size: 0.8rem;
}

/* order section */

.order-section {
  margin-top: 50px;
}

h4 {
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.items-order {
  margin-top: 50px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 20px;
  @media (min-width: 1024px) {
    justify-content: center;
  }
}

.food-type {
  margin-top: 5px;
}
.food-location {
  color: var(--primary-color);
  margin-top: 5px;
  font-size: small;
}
.price {
  margin-top: 5px;
}
.order-btn {
  margin-top: 10px;
  text-decoration: none;
  padding: 8px 65px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

/* discount section */

.discount-section {
  margin-top: 50px;
}

h5 {
  color: var(--text-color);
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.discount-section-1 {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  justify-items: center;
}

.sm-logo {
  margin-top: 10px;
  display: flex;
  gap: 2vmin;
  margin-bottom: 10px;
}

.now-btn {
  border: none;
  background-color: var(--light-green);
  color: var(--teritary-color);
  border-radius: 3px;
  font-weight: bold;
  padding: 8px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.tomorrow-btn {
  border: none;
  background-color: var(--light-orange);
  color: var(--secondary-color);
  border-radius: 3px;
  font-weight: bold;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
}

.rating {
  color: var(--primary-color);
}

.view-all-btn {
  background-color: var(--medium-orange);
  color: var(--white);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 4px 5px 10px rgba(255, 154, 14, 0.5);
  text-decoration: none;
}

/* search section */

.search-section {
  width: 100%;
  padding: 5vw;
  background-color: #fefaf1;
}

.searchtext-viewbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 5vw; */
}

h6 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bolder;
}

.view-searchfood-btn {
  color: var(--primary-color);
  text-decoration: underline;
}

.imgs-searchfood {
  margin-top: 50px;
  display: flex;
  @media (min-width: 1024px) {
    justify-content: center;
  }
  overflow-y: hidden;
  width: 100%;
  overflow-x: scroll;
  gap: 40px;
}

.img-foodname2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-searchfood-1 {
  border-radius: 100%;
  background-size: cover;
  width: 150px;
  height: 150px;
}
.searchfood-name-1 {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 10px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 1px;
    background-color: var(--text-color);
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

/* ad section */

.ad-section {
  width: 100%;
  background-color: #feefd0;
  padding: 50px 5vw 0;
}

.ad-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--white);
  align-items: center;
  width: 100%;
  padding: 2vw;
  border-radius: 25px;
  box-shadow: 1px 7px 30px rgba(255, 174, 0, 0.3);
}

.ad-context {
  display: flex;
  align-items: center;
  gap: 2vmin;
}

.line-border-1 {
  width: 2px;
  height: 56px;
  background-color: var(--gray);
  @media (max-width: 594px) {
    display: none;
  }
}
.ad-text {
  color: #ff9100;
  font-weight: 900;
}

/* phone ad section */

.phone-ad-section {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
  flex-wrap: wrap-reverse;
}

.install-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
}

.install-text {
  color: var(--accent-color);
  font-size: 2.5rem;
}

.phone-ad > img {
  height: 50vw;
}

.install-detail {
  margin-top: 10px;
  color: #797979;
  font-size: 0.8rem;
}

.install-btns {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vmin;
}

.img-download {
  float: left;
}

.sm-install-text {
  font-size: 0.7rem;
}

.download-btn-1 {
  background-color: var(--white);
  box-shadow: 1px 5px 10px rgba(255, 174, 0, 0.5);
  border: none;
  border-radius: 5px;
  width: 150px;
  font-weight: 700;
  padding: 5px 10px;
  cursor: pointer;
}

/* food details to order section */

.Food-detail {
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.food-details-card {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
  border-radius: 20px;
  background-color: var(--white);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  @media (max-width: 900px) {
    flex-wrap: wrap;
  }
}

.card-details-deal {
  font-size: 32px;
  font-weight: 800;
}

.crispy-sandwich {
  color: var(--accent-color);
}

.crispy-sandwich-details {
  color: #797979;
  font-size: 0.8rem;
  font-weight: 500;
}

.card-detail-left {
  text-align: center;
  padding: 5vw;
  @media (max-width: 900px) {
    text-align: center;
  }
}

.card-detail-right > img {
  @media (max-width: 900px) {
    width: 100%;
    height: 100%;
  }
}

.order-one-img {
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  @media (max-width: 1024px) {
    border-radius: 24px;
  }
}

.order-two-img {
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  @media (max-width: 1024px) {
    border-radius: 24px;
  }
}

.proceed-order-btn {
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 7px;
  padding: 0.8rem 2rem;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

/* ready order section */

.ready-order-container {
  padding: 5vw;
  background-image: url("../image/foodwagonfood_6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.ready-order-detail {
  color: var(--white);
  font-weight: 800;
  font-size: 2rem;
  @media (max-width: 640px) {
    font-size: 1.2rem;
  }
}

.ready-order-btn {
  margin-top: 10px;
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: bolder;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  @media (max-width: 640px) {
    font-size: 0.6rem;
    padding: 0.4rem 1rem;
  }
}

/* footer-section */

.footer-section {
  background-color: var(--dark-gray);
}

.footer-detail-1 {
  padding: 5vw;
}

.footer-header-cities {
  color: var(--white);
  font-size: 1.1rem;
}

.footer-cities {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5vmin;
}

.footer-ul {
  color: var(--white);
  list-style-type: none;
}

.footer-cities-list {
  line-height: 30px;

  a {
    position: relative;
    color: var(--gray);
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 0;
      background-color: var(--gray);
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

/* second footer section */
.footer-header-company {
  color: var(--white);
  font-size: 1.1rem;
}

.footer-2-ul {
  margin-top: 20px;
}

.footer-company-detail {
  display: flex;
  justify-content: space-between;
  gap: 5vmin;
}

.company-details-socials {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5vmin;
}

.follow-text {
  color: var(--gray);
  font-size: 0.7rem;
}

.socials-icon {
  padding-top: 30px;
  padding-bottom: 30px;
}

.Newsletter {
  color: var(--gray);
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 30px;
}
.email-input {
  background-color: #424242;
  /* padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 55px; */
  padding-right: 30px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  color: var(--white);
}
.subscribe-btn {
  color: var(--white);
  font-weight: bold;
  border: none;
  padding: 8px 13px;
  border-radius: 5px;
  background-color: #ff9100;
  box-shadow: 0px 3px 9px rgba(255, 145, 0, 0.5);
  cursor: pointer;
}

/* footer hr */
.hr2 {
  margin: 0 5vw;
}

/* copyright section */

.copyright {
  padding: 2vw 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vmin;
  flex-wrap: wrap;
  color: #f9f9f9;
  font-size: 0.9rem;
  @media (max-width: 590px) {
    justify-content: center;
  }
}

.order-btn {
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.order-btn:hover {
  background-color: #ff9100;
  transform: scale(1.05);
}
